@charset "UTF-8";
/*COLORS*/
/*MARGIN*/
/*PADDING*/
/*ALINEACIÓN*/
/*TRANSFORMS, TRANSITIONS AND ANIMATIONS*/
.fade-in {
  animation: fade-in;
  animation-duration: 1s;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*TYPOGRAPHY*/
.caption {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 0.667rem;
  line-height: 120%;
  font-variant: small-caps;
  color: #212125;
  text-align: left;
}

p {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 130%;
  color: #212125;
  text-align: left;
}

h4 {
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 120%;
}

h3 {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 3.375rem;
  line-height: 120%;
}

h2 {
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  font-size: 4rem;
  line-height: 110%;
  color: #212125;
  padding-bottom: 2rem;
}

h1 {
  font-family: "Work Sans", sans-serif;
  font-weight: 200;
  font-size: 6rem;
  line-height: 120%;
  color: #212125;
  padding-bottom: 3rem;
}

a {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 120%;
  color: #212125;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.strong {
  font-weight: 800;
}

/*BUTTONS*/
.btn-primary, .btn-secondary {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #E5E3DB;
  color: #212125;
  border-color: #212125;
  border-radius: 100px;
  border-width: 2px;
  border-style: solid;
  padding: 0.5rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
  text-decoration: none;
  margin-bottom: 3rem;
}
.btn-primary:hover, .btn-secondary:hover {
  background-color: #212125;
  color: #DBD8CD;
  transform: translate(3px, -3px);
  transition: 0.1s;
  transition-timing-function: ease-in-out;
  box-shadow: -5px 5px 15px rgba(33, 33, 37, 0.4156862745);
}

.btn-secondary {
  border-radius: 4px;
  border-width: 1px;
  margin-top: auto;
}

/*CAROUSEL*/
.carousel {
  margin-top: 4.5rem;
  margin-bottom: 4.5rem;
}

/*BODY*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #DBD8CD;
}

/*HEADER*/
header nav {
  background-color: #DBD8CD;
}
header nav a img {
  height: 2rem;
}
header nav .navlogo {
  padding-left: 5%;
}

/*MAIN*/
main .portada {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-image: url("../img/textura.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
main .portada h2 {
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
}
main .indexshop {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding-left: 5%;
  padding-right: 5%;
}
main .indexshop .indexshop-gallery {
  display: flex;
  justify-content: space-between;
}
main .indexshop .indexshop-gallery .card-product {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  border-radius: 4px;
}
main .indexshop .indexshop-gallery .card-product:hover {
  transform: translate(3px, -3px);
  transition: 0.1s;
  transition-timing-function: ease-in-out;
  box-shadow: -5px 5px 15px rgba(33, 33, 37, 0.4156862745);
}
main .indexshop .indexshop-gallery .card-product a img {
  width: 100%;
  border-style: solid;
  border-radius: 4px;
  border-color: #212125;
  border-width: 1px;
}
main .indexshop .indexshop-gallery .card-product .price {
  text-align: right;
  background-color: #212125;
  color: #E5E3DB;
  padding: 0.5rem;
  margin-top: 0.5rem;
  border-radius: 4px;
}
main .indexblog {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding-left: 5%;
  padding-right: 5%;
}
main .indexblog .card-blog {
  display: flex;
  margin: 0%;
  margin-bottom: 1.5rem;
  background-color: #E5E3DB;
  border-style: solid;
  border-radius: 4px;
  border-color: #212125;
  border-width: 1px;
}
main .indexblog .card-blog:hover {
  transform: translate(3px, -3px);
  transition: 0.1s;
  transition-timing-function: ease-in-out;
  box-shadow: -5px 5px 15px rgba(33, 33, 37, 0.4156862745);
}
main .indexblog a img {
  width: 100%;
  border-style: solid;
  border-radius: 4px;
  border-color: #212125;
  border-width: 1px;
}

/*TITLE PAGE*/
.title-page {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 400px;
  margin-top: 4.5rem;
  padding-left: 5%;
  padding-right: 5%;
}

/*FORM*/
.form {
  display: flex;
  justify-content: left;
  padding-left: 5%;
  padding-right: 5%;
  margin-bottom: 4.5rem;
}

/*ARTICLE*/
.article {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-left: 5%;
  padding-right: 5%;
  margin-bottom: 4.5rem;
}

/*FOOTER*/
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 500px;
  width: 100vw;
  margin-top: 3rem;
  padding-top: 100px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #212125;
}
footer .canisfooter {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  width: 100%;
}
footer ul li {
  padding: 1.5rem;
}
footer ul li a {
  color: #DBD8CD;
}
footer ul li a img {
  width: 24px;
}

/*# sourceMappingURL=estilo.css.map */
