* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*COLORS*/
/*THYPOGRAPHY*/
.caption {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 0.667rem;
  line-height: 120%;
  font-variant: small-caps;
  color: #212125;
  text-align: left;
}

p {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 130%;
  color: #212125;
  text-align: left;
}

h4 {
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 120%;
}

h3 {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 3.375rem;
  line-height: 120%;
}

h2 {
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  font-size: 4rem;
  line-height: 110%;
  color: #212125;
  padding-bottom: 2rem;
}

h1 {
  font-family: "Work Sans", sans-serif;
  font-weight: 200;
  font-size: 6rem;
  line-height: 120%;
  color: #212125;
  padding-bottom: 3rem;
}

a {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 120%;
  color: #212125;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.strong {
  font-weight: 800;
}

/*MARGIN*/
/*PADDING*/
/*BUTTON*/
.btn-primary {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: rgba(219, 216, 205, 0.8117647059);
  color: #212125;
  border-color: #212125;
  border-radius: 100px;
  border-width: 1px;
  border-style: solid;
  padding: 0.75rem;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  margin-bottom: 3rem;
}

.btn-primary:hover {
  background-color: #212125;
  color: #DBD8CD;
}

.btn-secondary {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: rgba(219, 216, 205, 0.8117647059);
  color: #212125;
  border-color: #212125;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  padding: 0.75rem;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  margin-top: auto;
}

.btn-secondary:hover {
  background-color: #212125;
  color: #DBD8CD;
}

/*BODY*/
body {
  background-color: #DBD8CD;
}

/*NAVBAR*/
.navbar {
  background-color: #DBD8CD;
  padding-left: 5%;
  padding-right: 5%;
}

.navbar-brand img {
  height: 2rem;
}

/*PORTADA*/
.portada {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-image: url("../img/textura.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.portada h2 {
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
}

/*INDEXSHOP*/
.indexshop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding-left: 5%;
  padding-right: 5%;
}

.indexshop-gallery {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.card-product {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

.card-product a img {
  width: 100%;
  border-style: solid;
  border-radius: 4px;
  border-color: #212125;
  border-width: 1px;
}

.price {
  text-align: right;
  background-color: #212125;
  color: #E5E3DB;
  padding: 0.75rem;
  margin-top: 0.5rem;
  border-radius: 4px;
}

/*INDEXBLOG*/
.indexblog {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding-left: 5%;
  padding-right: 5%;
}

.card-blog {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
  background-color: #E5E3DB;
  border-style: solid;
  border-radius: 4px;
  border-color: #212125;
  border-width: 1px;
}

.card-blog a img {
  width: 100%;
  border-style: solid;
  border-radius: 4px;
  border-color: #212125;
  border-width: 1px;
}

/*TITLE PAGE*/
.title-page {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  height: 400px;
  margin-top: 4rem;
  padding-left: 5%;
  padding-right: 5%;
}

/*FORM*/
.form {
  display: flex;
  flex-direction: row;
  justify-content: left;
  padding-left: 5%;
  padding-right: 5%;
  margin-bottom: 4rem;
}

/*ARTICLE*/
.article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 5%;
  padding-right: 5%;
  margin-bottom: 4rem;
}

.carousel {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

/*FOOTER*/
footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 100vw;
  margin-top: 3rem;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #212125;
}

.icon {
  display: flex;
  justify-content: center;
  width: 24px;
  height: 24px;
  margin: 0px;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

li {
  padding: 16px;
}

li a {
  color: #DBD8CD;
}

.canisfooter {
  width: 100%;
  text-align: center;
}

/*# sourceMappingURL=estilo.css.map */
