/*FOOTER*/

footer {
  @include flex-center;
  @include padding-section;
  height: auto;
  margin-top: $margin-lg;
  padding-top: 100px;
  padding-bottom: 100px;
  row-gap: 2rem;
  background-color: $black;
  .canisfooter {
    width: 100%;
    @include flex-center;
  }
  ul {
    @include flex-center;
    @include padding-section;
    flex-wrap: wrap;
    list-style: none;
    margin-bottom: 0%;
    li {
      @include flex-center;
      margin: auto;
      padding: auto;
      a {
        color: $beige;
        img {
          width: 24px;
        }
      }
    }
  }
}

.container-fluid {
  margin: 0px;
}